.box {
    height: 300px;
    width: 400px;
    margin: 0 auto; /* This centers the box horizontally */
    margin-top: 150px;
    background-color: aquamarine;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Add a box shadow */
}
body{
    background-color: aliceblue;
}
.head{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-inline:30px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: xx-large;
}
input{
    width:300px;
    height:30px;
    margin-top:2px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;

}
.wc{
    font-size:large;
    font-weight:500;
    align-content: center;
    margin: 0 auto;
    margin-top: 40px;
}